---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading py-3">{{ page.title }}</h1>
  {%- endif -%}
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    <header class="mb-auto">
    </header>
  
    <main class="px-3">
      <h1>Hello!</h1>
      <p class="lead">{{ site.description }}</p>
      <p class="lead">
        <a href="{{ site.url }}/about/" class="btn btn btn-pink fw-bold">Learn more</a>
      </p>
    </main>
  
    <footer class="mt-auto text-white-50">
      <p>DEVELOPER / <span class="footerText">DESIGNER</span> / DREAMER</p>
    </footer>
  </div>

  {{ content }}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
      {%- assign date_format = site.bootstrap.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}

      <div class="container">
        <div class="row">
          <div class="col-md">
            <div onclick="location.href='{{ post.url | relative_url }}';" class="card" style="cursor: pointer;">
              <div onclick="" class="card-body">
                <div class="col-lg">
                  <div class="card-img">
                    <img src="https://picsum.photos/1280/720" alt="" style="" class="img-fluid" >
                  </div>
                </div>
            <h3>
              <a class="card-title text-decoration-none" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>

            {%- if site.excerpts.show -%}
              {%- if site.excerpts.auto_truncate -%}{{ post.excerpt | truncatewords: 32 }}{%- else -%}{{ post.excerpt }}{%- endif -%}
            {%- endif -%}  <br>
            <span class="post-meta text-muted">{{ post.date | date: date_format }}</span>

              </div>
            </div>
          </div>
        </div>
      </div>
      {%- endfor -%}

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
